# Default API URL
API_URL=http://localhost:3000

# Neon DB URL
DATABASE_URL=

# Google ENVS
GOOGLE_PROJECT_ID=
GOOGLE_VERTEX_LOCATION=
GOOGLE_VERTEX_PROJECT=

# Clerk ENVs
CLERK_OAUTH_CLIENT_SECRET=
CLERK_OAUTH_CLIENT_ID=
CLERK_FRONTEND_API=
CLERK_SECRET_KEY=
CLERK_PUBLISHABLE_KEY=
JWT_SECRET=jwt-secret

# Polar ENVs
POLAR_ACCESS_TOKEN=
POLAR_PRODUCT_ID=
POLAR_SERVER=sandbox
POLAR_CREDITS_METER_ID=