API_URL=http://localhost:3000

DATABASE_URL=

GOOGLE_PROJECT_ID=
GOOGLE_VERTEX_LOCATION=
GOOGLE_VERTEX_PROJECT=

CLERK_OAUTH_CLIENT_SECRET=
CLERK_OAUTH_CLIENT_ID=
CLERK_FRONTED_API=
CLERK_SECRET_KEY=
CLERK_PUBLISHABLE_KEY=
JWT_SECRET=jwt-secret